# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
